<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <p> This page does not exist! Please try double-checking the link you entered, or contact us if you believe something is wrong! </p>

</body>
    <%- include('./partials/footer.ejs') %>
</html>