<!DOCTYPE html>
<html>

    <!-- Navigation menu: links to other pages -->
    <%- include('./partials/nav.ejs') %>

    <!-- Header: links to other pages -->
     <%- include('./partials/head.ejs') %>
    
     <!-- Footer: links to other pages-->
    <%- include('./partials/footer.ejs') %>


   <form>
	<label for= "name">Name:</label><br>
	<input type="text" id="name" name ="name">
    </form>


</html>