<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UniExchange - Drexel Marketplace</title>
    <link rel = "stylesheet" href = "/style.css">
</head>
	
<body>
    </div>

	<!-- Navigation menu: links to other pages -->
    <%- include('./partials/nav.ejs') %>

    <!-- Header: links to other pages -->
     <%- include('./partials/head.ejs') %>
    

    <!-- Main title of the homepage -->
    <h1>Marketplace for Drexel</h1>

    <!-- Brief description of the site's purpose -->
    <p>Check out Drexel's marketplace hub, helping students buy and sell securely.</p>


</body>
    <!-- Footer: links to other pages-->
    <%- include('./partials/footer.ejs') %>
</html>

