<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Sign Up!</title>
    <link rel="stylesheet" href="style.css">
  </head>

<body id="top" style="margin: 24px; line-height: 1.6; font-family: Arial, sans-serif;">
    <!-- Header -->
    <header>
      <h1 style="text-align: center; font-weight: bold;">Login</h1>
    </header>
     <!-- Navigation menu: links to other pages -->
    <%- include('./partials/nav.ejs') %>

    <!-- Header: links to other pages -->
     <%- include('./partials/head.ejs') %>

<body>
   


        <div class = "form-container">
          <!-- action = "/login" tells browser to send the data to /login address-->
           <!-- method = "POST" is how the data gets delivered-->
        <form action = "/login" method= "POST">
                <div>
                        <label for = "username" >Username:</label>
                        <textarea id = "username" name = "username" style = "width: 100px; height: 30px;" rows = "5" cols = "50"required></textarea>
                </div>
                <br>

                <div>
                        <label for = "password" >Password:</label>
                        <textarea id = "password" name = "password" style = "width: 100px; height: 30px;" rows = "5" cols = "50" required></textarea>
                </div>
                <% if (locals.error) { %>
                  <p style="color: rgb(254, 5, 5);"><%= error %></p>
                <% } %>
                <button type="submit">Login</button>
                <br>
</body>

<% if (error) { %>
  <script>
    alert("<%= error %>");
  </script>
<% } %>

<script>
  // Check query string for popup trigger
  const urlParams = new URLSearchParams(window.location.search);
  if (urlParams.get('error') === 'login_required') {
    alert('You must be logged in to perform this action.');
  }
</script>