<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link rel="stylesheet" href="style.css">

	<style>
	    p {
	        text-align: center;
	    }
	    h1 {
		text-align: center;
	    }
	</style>
    </head>

<body>
       <!-- Navigation menu: links to other pages -->
    <%- include('./partials/nav.ejs') %>

    <!-- Header: links to other pages -->
     <%- include('./partials/head.ejs') %>


<h1>Contact Us!</h1>
<p>Our Emails:</p>
<p>jj3328@drexel.edu</p>
<p>jtn72@drexel.edu</p>
<p>wz362@drexel.edu</p>
<p>fy75@drexel.edu</p>

</body>
    <!-- Footer: links to other pages-->
    <%- include('./partials/footer.ejs') %>

</html>
