<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UniExchange - Drexel Marketplace</title>
    <link rel = "stylesheet" href = "/style.css">
</head>
	
<body>
    </div>

	<!-- Navigation menu: links to other pages -->
    <%- include('./partials/nav.ejs') %>

    <!-- Header: links to other pages -->
     <%- include('./partials/head.ejs') %>
    

    <p> Starting the system is as simple as typing in the website address. If you see this text, you've already started the system!</p>

    <p> Below is the main working feature of our website: making a post. 
        Here are all of the components of a post:
        Title - The title of your post! This will be bolded and will have a larger size once the post is published
        Description - The main space for you to write about the item you are selling. If needed, you can also write additional comments about your item here.
        Price - Enter in the price of your item here. The minimum is 0 (free), and the maximum is 9999.
        Location - Enter in where you want this trade to take place
        Image: Upload a image of your item here. Only pngs and jpgs are accepted.
    </p>


</body>
    <!-- Footer: links to other pages-->
    <%- include('./partials/footer.ejs') %>
</html>

