body {
    font-family: "Times New Roman", Arial, "Comic Sans MS";
    background-color: #d5d8dc;
    font-size:100%;
}

.card {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 450px;
    background-color: #d5d8dc;
}

.card:hover {
    border: 1px solid #777;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    padding: 5px;
    text-align: center;
}

.card a { 
    text-decoration: none;
    color: inherit; 
} 

.card a:hover h3{
    color: rgb(20, 40, 220);
}

.card p {
    padding: 2px;
}

/* Hides the missing image thing*/
img[src=""], img:not([src]) {
    display: none;
}


/* Only center the FORM container, NOT the nav */
.form-container {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
}

/* Optional: Form styling */
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

textarea {
        resize: none;
}


    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
      background-color: white;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* made by Frank */
    .edit{                    
        position: absolute;
        top:0;
        right: 50px;
        border-radius: 50%;
        padding: 8px;
        background-color: white;
    }
    .edit:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }