<head>
        <meta charset="UTF-8">
        <title>Uniexchange - <%= title %></title>
        <link rel = "stylesheet" href = "/style.css">

    <style>
        body {
        background-color: lightblue;
        }


    </style>
</head>